.our_team_header { 
    width: 100vw !important;
    height: 409px;
    background-image: url('http://localhost:5000/ourteam/nkwsuccesstogether.jpg');
    background-size: cover;
    h1 {
        margin-top: 0;
        color: white;
        font-size: 75px;
        letter-spacing: 0.3rem;
    }
    p {
        color: white;
        font-size: 26px;
    }
}

.our_team_card_list { 
    height:  51.999vh;
    
 
    .meet_our_team_ourteam {
            display: flex;
            border: 0px solid #c3c3c3;
            display: -webkit-flex; /* Safari */
            -webkit-flex-wrap: wrap; /* Safari 6.1+ */
            display: flex;
            flex-wrap: wrap;


        
        //padding: 15px 35px;
    }
}
