
.footerContanter { 
    display: flex;
    height: 65px;
    background: #1A1719;
    font-size: 20px;
    z-index: 99999;
}
.mainContant {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items: stretch;
    color: white;

    .leftText {
        flex: 1;
        margin-left: 56px;
        margin-top: 0px;
        text-align: left;
    }
    .rightText {
        flex: 1;
        margin-right: 56px;
        margin-top: 0px;
        text-align: right;
        i {
            font-size: 26px;
        }
    }

}
.facebookIcon {
    background-image: url('/facebook-f-brands.svg');
    color: white;
}

