.expac_detail_header_expacdetail {
    height: 7.5vh;
    padding: 6% 5%;
    background-image: url('./Headers_Expac.png');
    background-size: cover;
    color: white;
    font-weight: 900;
    line-height: 1.3rem;
    border-bottom: 1.5px solid  #F7941B;
    h1 {
        font-size: 70px;
        font-weight: 600;
    }
}

.expac_detail_main_context {
    display: flex;
    align-content: space-between;
    overflow:scroll;
    // align-items: center;
    // border: 1px solid black;
   //  background: #F7941B;
    padding: 3% 54px;
    height: 55.6vh;

    .left_contants {
        flex: 2;
        margin-top: 4%;
        .left_img_logo {
            height: 16vh;
            padding: 0% 5%;
            margin: 0;
            border-right: 6px solid green;
            img {
                margin-top: -14px;
            }
        }
        .contact_card_expac_detail { 
            background: #F7F9FB;
            box-shadow: 0 4px 8px 0 rgba(83, 83, 83, 0.2);
            border-radius: 4px 4px;
            margin: 26% 8px;
            width: 74%;
            height: 15vh;
            padding: 5% 5%;
            margin-left: 6%; 
            text-align: left;
            font-size: 1.4rem;
            color: black;
            line-height: 1.6em;
            p { 
                color: #707070;
            }
        }
    }
    .right_contants_expacdetail {
        flex: 3;
        p {
            padding: 0 4%;
            font-size: 20px;
            text-align: left;
            line-height: 2.5rem;
            color: #707070;
        }
    }


    .right_middle_ul_li_expacdetail , li{
        padding: 2% 4%;
        font-size: 20px;
        line-height: 1.4rem;
        background: #F7941B;
        color: white;
        text-align: left;
        font-weight: 700;
    }

}
