@import '~video-react/styles/scss/video-react';

.nkw_videos_detail_header {
    width: 100vw !important;
    height: 270px;
    padding: 0% 0%;
    background-image: url('./Headers_NKW_Videos.png');
    border: 1px solid  black;
    color: white;
    border-bottom: 2.5px solid  #009CDE;
    h1 {
         line-height: 165px;
        font-size: 75px;
        font-weight: 500;
    }
}

.video_warper {
    width: 100vw !important;
    height: 62.99vh;
}
.vidoes_list {
    border: '1px solid black';
    display: flex;
    :focus {
        outline: none;
    }
    div {
        width: 340px;
        margin: auto;
        padding: 8% 2%;
        
    }

}
 